<div class="stock-display">
    <div class="details">Symbol: <span class="symbol">{{title}}</span></div>
    <div class="details">Date: <span class="date">{{}}</span></div>
    <div class="details">Open: <span class="open">{{}}</span></div>
    <div class="details">Highest: <span class="max">{{}}</span></div>
    <div class="details">Lowest: <span class="low">{{}}</span></div>
    <div class="details">Close: <span class="close">{{}}</span></div>
    <div class="details">Change: <span class="change">{{}}</span></div>
</div>
