<div class="stock-display">
  <div class="details">Symbol: <span class="symbol">{{symbol}}</span></div>
  <div class="details">Date: <span class="date">{{longDate date}}</span></div>
  <div class="details">Open: <span class="open">{{cash open}}</span></div>
  <div class="details">Close: <span class="close">{{cash close}}</span></div>
  <button class="reveal-history-btn">Toggle History</button>
</div>

<ul class="five-day-report hidden">
  {{> history}}
</ul>