@import "vars"
@import "init/normalize"
@import "components/links"


html 
    background: rgb(116, 119, 133)
    color: whitesmoke
    font-family: 'Montserrat', sans-serif


h1 
    font-weight: 600
    margin-bottom: 0
    padding-left: 3rem


.stock-ticker 
    padding-top: 1rem
    margin: 0 auto
    max-width: 400px


span 
    font-size: 2rem


body 
    max-width: 960px
    margin: 0 auto


hr 
    margin-bottom: 2rem


.stock-display 
    max-width: 400px
    margin: 0 auto

.details 
    line-height: 2rem
    display: flex
    justify-content: space-between
    align-items: center


.error 
    margin-top: 1rem
    /* padding: 1rem; */
    border-radius: 3px
    color: red
    background: rgba(239, 239, 240, 0.521)
    font-weight: 600


.container 
    max-width: 500px
    margin: 3rem auto
    padding: 2rem 1rem
    background: rgba(255, 255, 255, 0.192)
    border-radius: 4px
