@import "init/normalize"
@import "components/vars"
@import "components/links"
@import "components/history"
@import "components/singleStock"


html 
    background: rgb(116, 119, 133)
    color: whitesmoke
    font-family: 'Montserrat', sans-serif


h1 
    font-weight: 600
    margin-bottom: 0
    padding-left: 3rem



span 
    font-size: 2rem


body 
    max-width: 960px
    margin: 0 auto


hr 
    margin-bottom: 2rem




.error 
    margin-top: 1rem
    /* padding: 1rem; */
    border-radius: 3px
    color: red
    background: rgba(239, 239, 240, 0.521)
    font-weight: 600


.hidden
    display: none